/* Reseteo y configuraciones básicas */
* {
    list-style: none;
    margin: 0px;
    padding: 10px;
    border-color: black;

}

/* Logo */
/* INDEX */

.grid {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "Logo HomeCooking HomeCooking ."
        ". . . ."
        ". . . ."
        ". . . .";
    justify-items: stretch;
    align-items: center;
}

.Logo {
    grid-area: Logo;
}

.logo-index {
    border-radius: 80%;
    /* Esto hace que la imagen sea circular HAY QUE EXPLOTARLO AL MÁXIMO!*/
    width: 200px;
    height: 200px;
}


.HomeCooking {
    grid-area: HomeCooking;
}

.nuevo-logo {
    display: flex;
    justify-content: center;
    background-color: palevioletred;
}

/* Título y nombre de página */
h1 {
    display: flex;
    text-align: center;
    font-family: 'Verdana', sans-serif, monospace;
    color: rgb(247, 237, 237);
    background-color: palevioletred;
    text-align: center;
    max-width: 100vw;
    flex-direction: column;
}

.nav h2 {
    display: flex;
    text-align: center;
    color: rgb(247, 237, 237);

}

h3 {
    display: flex;
    text-align: center;
    color: rgb(247, 237, 237);
    flex-direction: column;
    background-color: palevioletred;
    text-align: center;
}

/* Configuración de la barra de navegación */
.header {
    font-family: 'Verdana', sans-serif, monospace;
    background-color: hsl(338, 49%, 43%);
    flex-wrap: wrap;


}

.header ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    color: white;
    justify-content: center;

}

.header ul li a {
    display: flex;
    ;
    font-family: 'Verdana', sans-serif, monospace;
    font-size: 18px;
    color: white;
    font-style: oblique;
    border: 2px;
    border-color: white;
    text-decoration: none;
    /* Quita el subrayado predeterminado */
    color: wheat;
    /* Cambia el color al pasar el mouse sobre el enlace */
}


.menu-desplegable label {
    display: block;
    margin-bottom: 10px;

}

.imagenes-principales {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.imagenes-principales img {
    width: 20vw;
    height: 400px;
}

.imagenes-portada {
    position: relative;
    /* Hacemos que el posicionamiento relativo sea para que podamos posicionar el figcaption */
}

/* Texto debajo de las imágenes de la portada */
.imagenes-portada figcaption {
    width: 100%;
    /* Lo hacemos ocupar todo el ancho del contenedor padre */
    background-color: rgba(0, 0, 0, 0.7);
    /* Añadimos un fondo semi-transparente para que el texto sea legible */
    color: wheat;
    font-size: large;
    /* Color del texto */
    padding: 5px;
    /* Añadimos un poco de espacio alrededor del texto */
    text-align: center;
    /* Centramos el texto horizontalmente */
    font-family: 'Verdana', Courier, monospace;
}

input {
    margin: 20px;
    display: block;
    margin-bottom: 10px
}

body {
    background-color: palevioletred;

}

.footer {
    background-color: hsl(338, 49%, 43%);
    display: flex;
    justify-content: space-evenly;
}

.footer img {
    height: 60px;
}

/* CONFIGURACIÓN DEL BOTÓN CUPCAKE */
.cupcake-container {
    text-align: center;
    /* Centra horizontalmente el botón */
    margin-top: 20px;
    /* Espaciado entre el formulario y el botón */
}

.cupcake-button {
    margin: 0 auto;
    background-image: url(../Recursos/cupcake\ icon.png);
    background-color: #ffcc99;
    width: 60px;
    height: 60px;
    color: rgb(5, 5, 5);
    font-weight: bold;
    -webkit-text-fill-color: rgb(245, 245, 245);
    -webkit-text-stroke: 1px black;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    /* Ponemos flexbox */
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

/* RESPONSIVE DEL INDEX */
@media (max-width: 768px) {

    /* Cambios para pantallas más pequeñas */
    #links-header {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagenes-principales {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagenes-portada {
        width: 80vw;
        /* Ajusta el ancho según sea necesario */
        margin-bottom: 20px;
    }

    .imagenes-portada img {
        width: 100%;
        /* Ajusta el ancho de la imagen al 100% del contenedor */
        height: auto;
        /* Permite que la altura se ajuste automáticamente */
    }


    .imagenes-portada figcaption {
        position: static;
        /* Eliminamos la posición absoluta para que el texto se muestre debajo de la imagen */
        background-color: transparent;
        /* Eliminamos el fondo semi-transparente */
        padding: 0;
        /* Eliminamos el espacio alrededor del texto */
        text-align: center;
        /* Centramos el texto */
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer img {
        margin-bottom: 10px;
    }
}


/* Productos */
.carrusel-productos img {
    width: 30vw;
    height: 50vw;
    transition: none;
    justify-content: center;
    align-items: center;
}

.carrusel-productos {
    width: 30vw;
    height: 50vw;
    transition: none;
    justify-content: center;
    align-items: center;
}

/* Pedidos */
#h2-pedidos {
    color: white;
    font-size: large;
    /* Color del texto */
    padding: 5px;
    /* Añadimos un poco de espacio alrededor del texto */
    text-align: center;
    /* Centramos el texto horizontalmente */
    font-family: 'Verdana', Courier, monospace;

}


/* Quienes somos? */
.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

#descripcion-familia {

    color: white;
    font-family: "Kalam", cursive;
    font-weight: 300 bold;
    font-style: normal;
    max-width: 70vw;
    display: flex;

}

.grid-quienes-somos {
    display: grid;

}

.Descripcion {
    grid-area: Descripcion;
}

.Familia-feliz {
    grid-area: Familia-feliz;
}

#foto-rochanos {
    height: 15vw;
    border-radius: 30px;
}


/* Contacto */
.div-contacto {
    width: 70vw;
    display: flex;
    justify-content: space-between;
}

.mapa-google-earth {
    padding: 0;
    margin: 20px;
    width: 600px;
    height: 450px;
    display: block;
    border: 5px solid;
    border-color: wheat;
    border-collapse: inherit;
}