
.div-contact {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.grid-contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto; // Espacio para el banner, formulario y footer
    gap: 20px; // Espacio entre elementos
}

.contactForm { 
    grid-row: 2; // Formulario en la segunda fila
    align-self: center; 
}

.uruguay { 
    grid-row: 2; 
    justify-self: center; 
}

.mapa-google-earth { 
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5px;
    width: 85%; 
    height: 20vh; 
    border: 5px solid;
    border-color: $color-wheat;
    border-collapse: inherit;
    iframe.mapa-google-earth {
        margin: auto;
        display: block;
    }
}

.contacto-container {
    display: flex;
    flex-direction: column;
    align-items: center; // Centrar horizontalmente
    gap: 10px; // Espacio entre elementos
}

input {
    margin: 20px;
    display: block;
    margin-bottom: 5px;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm input[type="tel"],
#contactForm input[type="message"],
#contactForm textarea {
    color: black;
    font-family: $font-verdana;
    border-color: $color-wheat;
    padding: 2px;
}

#contactForm input[type="submit"] {
    font-family: $font-verdana;
    color: $color-wheat;
    background-color: hsl(338, 49%, 43%);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
        background-color: rgba(206, 59, 169, 0.623);
    }
}

#contactForm label {
    text-align: left;
    font-family: $font-verdana;
    color: $color-wheat;
    font-size: $font-size-large;
}




#uruguay {
    @extend .config-img;
}
