$logo-size: 200px; // Tamaño del logo

.imagenes-principales {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    img {
        width: 20vw;
        height: 400px;
    }
}

.imagenes-portada {
    position: relative;

    figcaption {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: wheat;
        font-size: large;
        padding: 5px;
        text-align: center;
        font-family: 'Verdana', Courier, monospace;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "Logo HomeCooking HomeCooking ."
        ". . . ."
        ". . . ."
        ". . . .";
    justify-items: stretch;
    align-items: center;

    #logo-index {
        width: $logo-size;
        height: $logo-size;
        border-radius: 80%;
    }

    .HomeCooking {
        grid-area: HomeCooking;
    }
}

