@import '../assets/scss-avanzado';

// Estilos para las imágenes principales
.imagenes-principales {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;

    img {
        width: 20vw;
        height: 400px;
        border: 2px solid black;
        padding: 0;
        border-color: wheat;
        border-radius: 5px;
    }
}

.video-receta-1 {
    width: 40vw;
    height: 400px;
}
.video-receta-1 {
    @extend .config-img;
}

.video-container:hover iframe {
    transform: scale(1.1); /* Cambiar el valor para ajustar el nivel de zoom */
    transition: transform 0.3s ease; /* Duración y tipo de transición */
  }


// Estilos para las imágenes de portada
.imagenes-portada {
    position: relative;

    figcaption {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: wheat;
        font-size: large;
        padding: 5px;
        text-align: center;
        font-family: 'Verdana', Courier, monospace;
        border-radius: 5px;
    }
}
.imagenes-portada img {
    transition: transform 0.3s ease-in-out; /* Transición SUAVE*/
  }
  
  .imagenes-portada img:hover {
    transform: scale(1.05); 
  }
  

// Estilos para el grid
.grid {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "Logo HomeCooking HomeCooking ."
        ". . . ."
        ". . . ."
        ". . . .";
    justify-items: stretch;
    align-items: center;

    #logo-index {
        width: $logo-size;
        height: $logo-size;
        border-radius: 80%;
    }

    .HomeCooking {
        grid-area: HomeCooking;
    }
}

