/* Pedidos */
#h2-pedidos {
    color: white;
    font-size: large;
    padding: 5px; 
    text-align: center; 
    font-family: 'Verdana', Courier, monospace;
}

.container {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan si no caben en una fila */
}

#ingredientes {
    width: 30vw;
    height: 20vw;
    border-radius: 200px;
    border: solid;
    padding: 0;
    border-color: wheat;
}

.menu-desplegable label {
    display: block;
    margin-bottom: 10px;
    color: wheat;
    font-weight: bold;
}

.container select,
.container input[type="text"],
.container input[type="email"],
.container input[type="tel"],
.container textarea {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: wheat;
    padding: 4px;
    margin-bottom: 10px;
}

.container input[type="submit"] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: wheat;
    background-color: hsl(338, 49%, 43%);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* BORDES DE LOS FORMULARIOS */
.container label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: wheat;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
