/* Estilos para la página Quiénes somos */
.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
}

#descripcion-familia {
    color: white;
    font-family: "Kalam", cursive;
    font: {
        weight: bold; 
        style: italic; 
    }
    max-width: 70vw;
    font-size: larger;
}

.grid-quienes-somos {
    display: grid;
}

.Descripcion {
    grid-area: Descripcion;
}

.Familia-feliz {
    grid-area: Familia-feliz;
}

#foto-rochanos {
    height: 20vw;
    border-radius: 50%; 
    border: {
        width: 2px; 
        color: wheat;
        style: solid;
    }
    padding: 0;
}
