.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: 'Verdana', sans-serif, monospace;
    background-color: hsl(338, 49%, 43%);
    flex-wrap: wrap;
    border-radius: 100px;
    max-width: 60vw;
    border: 2px solid wheat;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

    h1 {
        border-radius: inherit;
        font-weight: 500;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: baseline;
        color: white;

        li {
            display: flex;
            justify-content: center;

            a {
                display: flex;
                background-color: rgba(226, 201, 201, 0);
                font-size: 18px;
                color: wheat;
                font-style: oblique;
                text-decoration: none;
                border-radius: 10px;

                &:hover {
                    background-color: rgba(206, 59, 169, 0.623);
                }
            }
        }
    }
}

#logo-index {
    border-radius: 100px;
}

  